[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
decorator = "*"
brotlipy = "*"
gevent = "*"
Flask = "*"
meinheld = "*"
werkzeug = ">=2.0.0"
six = "*"
flasgger = "*"
pyyaml = {git = "https://github.com/yaml/pyyaml.git"}

[dev-packages]
rope = "*"
